.PageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.NavigationBar {
  border: 1px solid #000;
  padding: 10px;
}

.ContentContainer {
  border: 1px solid #000;
  padding: 10px;
}

.profile-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.history-box {
  width: 100%; /* 상자의 너비 */
  height: 100px; /* 상자의 높이 */
  border: 2px solid black; /* 상자의 테두리 */
  background-color: white; /* 상자의 배경색 */
}

.profile-bottom-bar {
  display: flex;
  flex-direction: row;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}
