/* Avatar.css */

.avatar-img {
  object-fit: cover;
  border: 5px solid goldenrod;
}

.avatar {
  position: relative;
  width: max(100px, 10vw);
}

.online-indicator {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  right: 3px;
  border: 4px solid white;
}

.online-indicator.online {
  background-color: #00ff00;
}

.online-indicator.offline {
  background-color: #ff0000;
}

.edit-button {
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.edit-icon {
  font-size: 30px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
