/* Avatar.css */

.avatar-img {
  object-fit: cover;
  border: 2px solid #f000f0;
}

.avatar {
  position: relative;
  padding: 3px; /* 아바타 이미지와 보더 사이의 공간 */
  border: 2px solid #ffffff; /* 하얀색 보더 */
  border-radius: 50%; /* 보더를 원형으로 만듦 */
  display: inline-block; /* 또는 필요에 따라 다른 display 속성 */
}

.online-indicator {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  border: 3px solid white;
}

.online-indicator.online {
  background-color: #00ff00;
}

.online-indicator.offline {
  background-color: #ff0000;
}

.edit-button {
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.edit-icon {
  font-size: 24px;
  color: #000;
}
