.PageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ContentContainer {
  border: 1px solid #000;
  padding: 10px;
}

.icon {
  width: 36px;
  height: 36px;
}

/* Navigation Bar */
.RoomItem {
  border: 1px solid #007bff;
	background-color: aquamarine;
  width: 100%;
  padding: 16px;
}
.RoomItemPlaying {
	background-color: orangered;
}

/* Navigation Bar */
.NavigationBar {
	background-image: url('https://media.istockphoto.com/id/1085287936/photo/milky-way.jpg?s=612x612&w=0&k=20&c=cSnObab7Tv5r2WOhJ7glRiLZ7RlZo6Ar29q3ULdrlmI=');
	color:#ebf4ff;
	padding: 10px;
}
.NavItems {
	font-family: 'Inria Sans', sans-serif;
	list-style: none;
	font-size: 20px;
	font-weight: bold;
  text-decoration: none;
}
.NavItems a {
	text-decoration: none;
	color: #ebf4ff;
}
.NavItems a:hover {
  text-shadow: 0 0 8px #fff, 0 0 20px #fff, 0 0 24px #fff;
}
.NavItems img {
	filter: invert(100%);
}
.NavUser {
	font-family: 'Inria Sans', sans-serif;
	font-weight: bold;
	font-style: italic;
	text-decoration: none;
}

