@import "bootstrap/scss/bootstrap";

.border-p3-box {
  @extend .border;
  @extend .p-3;
}

.border-p4-box {
  @extend .border;
  @extend .p-4;
}

.border-p5-box {
  @extend .border;
  @extend .p-5;
}

.overflow-hidden {
  overflow: hidden;
}

.navbar-nav {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.align-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
}

.icon {
  width: 24px;
  height: 24px;
}
