/* CustomButton.css */
.CustomButton {
  color: white;
  border: solid 2px white;
  border-radius: 10px;
  padding: 6px 10px;
  /* box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4); */
}

/* Dynamic background colors based on props */
.background-red {
  background-color: #E57373AA;
}

.background-yellow {
  background-color: #D4E157AA;
}

.background-green {
  background-color: #81C784AA;
}

.background-blue {
  background-color: #64B5F6AA;
}

.background-dark-red {
  background-color: #EB2323AB;
}

.background-dark-yellow {
  background-color: #FDD835AA;
}

.background-dark-green {
  background-color: #388E3CAA;
}

.background-dark-blue {
  background-color: #1976D2AA;
}

.background-default {
  background-color: #ffffff11;
}
