.LoginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../public/assets/images/background-login.jpeg");
  background-size: cover;
  background-position: center;
  color: #fff;
}

.LoginPage h1 {
  font-family: "Orbitron", sans-serif;
  font-size: 3rem;
  color: #fff;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.LoginPage div {
  text-align: center;
}

.LoginPage input[type="text"] {
  height: 50px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: black;
  z-index: 3;
}

.LoginPage button {
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  background-color: #00b377;
  cursor: pointer;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.4);
}

.LoginPage button:hover {
  background-color: #00895b;
  color: #e0e0e0;
}

.LoginPage .twoFactorSubmit {
  height: 50px;
  background-color: #007bff;
  z-index: 2;
}

.LoginPage .twoFactorResend {
  height: 50px;
  background-color: #00b377;
  z-index: 1;
}

.LoginPage .twoFactorSubmit:hover {
  background-color: #0056b3;
  color: #e0e0e0;
}

.LoginPage .twoFactorResend:hover {
  background-color: #00895b;
  color: #e0e0e0;
}

.back-to-login-link {
  position: fixed;
  font-size: 1.3rem;
  right: 20px;
  bottom: 20px;
  color: #fff;
  text-decoration: none;
}

.back-to-login-link:hover {
  text-decoration: underline;
}
