.PongScenePage {
  background-image: url('../../public/assets/images/background-bracket.png'); 
  background-size: cover; /* 배경 이미지가 전체 화면을 커버하도록 설정 */
  background-position: center; /* 초기 배경 위치를 중앙으로 설정 */
}

.PongStatus {
	color: aliceblue;
}