.RoomItem {
  border: 1px solid #ffffff;
  border-radius: 10px;
  background-color: #aad6ff55;
  width: 100%;
  padding: 16px;
  text-shadow: 3px 2px 3px rgb(21 45 189);
}

.RoomItem h5 {
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.RoomItem:hover {
  background-color: #7da8ff77;
  text-shadow: 2px 0px 3px #5776b4;
}

.RoomItem.can-join:hover button {
  background-color: #81c784aa;
}

.cannot-join {
  background-color: #ff6060a1;
  opacity: 0.7;
}

.cannot-join:hover {
  background-color: #ff6060a1;
  text-shadow: 2px 0px 3px rgba(1, 1, 1, 1);
}

.room-detail {
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 2px 0;
}

.room-detail-label {
  font-weight: bold;
  color: #89e7e7;
  min-width: 100px; /* 라벨의 최소 너비를 지정 */
  display: inline-block;
  margin-right: 10px; /* 라벨과 값 사이의 마진 */
}

@media (min-width: 2000px) {
  .room-detail-label {
    min-width: 200px;
  }
}

.room-detail-value {
  flex-grow: 1;
}

.RoomItem .icon {
  width: max(36px, 4vh);
  height: max(36px, 4vh);
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}
